@import '../../css/variables.scss';
phoenix-logo {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    img {
        width: 85px;
        margin: 20px;
    }
}

phoenix-menu {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    a {
        display: flex;
        width: 150px;
        height: 100%;
        padding: 0px 20px;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        color: $textColor;
        font-size: 22px;
        &:hover,
        &:focus {
            cursor: pointer;
            text-decoration: none;
            background-color: transparentize($themeColor, 0.3);
            color: $textColor;
        }
    }
}